* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  margin-top: 0;
  z-index: 1000; 
}

.header__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header__nav-upper-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 1.5rem 1rem;
  background-color: #003049;
  color: #ffff;
}

.header__menu-icon-and-search-form-container {
  display: flex;
  width: 100%;
  min-width: fit-content;
}

.header__menu-icon {
  cursor: pointer;
}

.header__search-form {
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  min-width: 4rem;
  height: 2rem;
  width: 15%;
}

.header__search-form img {
  width: 1.5rem;
}

.header__search-input {
  background-color: transparent;
  color: #ffff;
}

.header__title {
  text-shadow: 2px 2px D3D3D3;
  color: #ffffff;
  font-size: 1.9rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header img {
  width: 2rem;
  filter: brightness(0) invert(1);
}

/*--- NAVBAR Register and Login ---*/

.header__login, .header__register{
  padding-top: 15rem;
}

.header__cancel-icon {
  width: 1.5rem;
  filter: brightness(0) contrast(100%);
  display: flex;
  margin: 0 0 -5rem 27rem;
  cursor: pointer;
}

.header__cancel-icon:hover {
  filter: brightness(0) contrast(50%);
}

.header__register-title-cancel-button {
  display: flex;
  gap: 1rem
}

.header__register-login-submit-button {
  background-color: #003049;
}

.header__register-login-submit-button:hover {
  background-color: #004B5D;
}



/* --- NAVBAR topic part --- */

.header__nav-topic-dropdown {
  display: none;
  flex-wrap: wrap;
  cursor: pointer;
  max-width: fit-content;
  padding-right: 0.5rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  z-index: 10;
}

.header__nav-topic-dropdown.visible {
  display: block; /* Show when toggled */
}

.showned-element {
  display: block;
}

li {
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.4s;
}

li:hover {
  transform: scale(1.1);
}

li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E8E9E9;
  transition: 0.4s;
  transform-origin: top;
  transform: scaleX(0);
  z-index: -1;
}

li:hover:before {
  transition: transform 0.5s;
  transform-origin: top;
  transform: scaleX(1);
}


/* ---- MAIN PART ---- */

.main__article {
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 1rem 0 1.5rem 0;
  height: 100%;
  padding: 0 15px 1rem 0;
  cursor: pointer; 
}

.main__older-articles {
  height: 100%;
}

.main__article-image {
  padding: 5px;
}

.main__article-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main__live-text-with-article-text {
  display: flex;
}

.main__live-text {
  border: 1px solid #ff0000;
  border-radius: 50%;
  padding: 7px;
  margin: 5px 5px 0 0;
  font-weight: bold;
  height: fit-content;
  background-color: #ff0000;
  animation: pulse 2s infinite;
  z-index: 0;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      color: #ffffff;
  }

  50% {
      transform: scale(1.05);
      color: #ff0000;
      /* Color at the peak of the pulse */
  }

  100% {
      transform: scale(1);
      color: #ffffff;
  }
}

.main__article-title {
  overflow-wrap: break-word;
  font-size: 5vw;
  font-size: clamp(12px, 4vw, 22px);
  font-weight: bold;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  line-clamp: 2;
  overflow: hidden;
  /* Hide overflow content */
  text-overflow: ellipsis;
  /* Add ellipsis for overflowed text */
}

.clamp-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__time-and-topic-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 15px;
  width: fit-content;
}

.fullscreen {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  width: 90vw;
  height: fit-content;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
  transform: translate(-50%, -50%);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.fullscreen .main__article-text-container {
  width: 100%;
  height: auto;
}

.fullscreen .main__article-text {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  line-clamp: initial;
  overflow: visible;
}

.fullscreen .main__article-image {
  display: none;
}

.fullscreen .main__article-text.clamp-2,
.fullscreen .main__article-text.clamp-6 {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: none;
  overflow: visible;
}


.main__no-sport-data{
  margin-top: 8rem;
  
}


/* ----- TABLET AND DESKTOP MODE ----- */

@media (min-width: 768px) {
  .header__nav-topic-dropdown {
      display: flex;        
      max-width: 100%;
      justify-content: center;
      gap:1rem;
      padding: 2rem 0 1rem 0;
      font-size: 1.1rem;           
      box-shadow: none;   
      
  }

  .header__nav-topic-dropdown li {
      padding: 0.8rem;
      font-size: 1.2rem;
      font-weight: bold;
  } 

}

@media (max-width: 990px) and (min-width: 769px) {
  .main{
    padding-top: 15rem;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(3, 1fr);  
  }

  .main__article-live-article{
    margin-bottom: 5rem;
  }

  .main__older-article {
    max-width: 45vw;
    height: 15rem;
  }

  .main__older-articles-first-group {
    display: flex;
    max-width: 24vw;    
  }

  .main__older-articles-second-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    max-width: calc(100% - 32px); 
    margin: 0 auto;     
  }

  .main__older-articles {
    display: flex;
    flex-wrap: wrap;
   gap:1rem;
  }
}